{% extends 'blog/about_tmplt.html' %}
{% load staticfiles %}
{% block content %}

	<br/><br/>
	<div class="row">
		<div class="col-sm-3">
			<br/>
			<center>
				<img width="180px" height="180px" class="img-circle" src="{% static 'ultimas/saltao_colina.jpg' %}" alt="">
			</center>
			<div id="social" class="content-block" style="border: 10px;">
				<div class="text-center">
					<div class="hexagon"><a href="https://www.github.com/kanazux"><i class="fa fa-github-alt"></i></a></div>
					<br/><br/>
					<div class="hexagon"><a href="https://www.linkedin.com/in/SilvioApSilva/"><i class="fa fa-linkedin"></i></a></div>
					<br/><br/>
					<div class="hexagon"><a href="http://www.kanazuchi.com"><i class="fa fa-camera-retro"></i></a></div>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div style='border-bottom:1px solid #ccc;'>
				<h2><b>Silvio Ap Silva</b></h2>
				<h3>Desenvolvedor na BluePex Security Solutions</h3>
			</div>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<h4><b>Email:</b></h4>
					contato@kanazuchi.com
					<h4><b>Telegram:</b></h4>
					@kanazuchi
				</div>
				<div class="col-sm-9">
					<h4><b>Sumario</b></h4>
Entusiasta UNIX.<br/>
Atualmente trabalhando no desenvolvimento de ferramentas para testes e gerencimanto de redes com python e FreeBSD.<br/>
Desenvolvedor python/backend.<br/>
<br/>
Conhecimentos em arquitetura de sistemas UNIX.<br/>
Amplo conhecimento em instalação/gerencimento do pfSense. (Firewall opsource). <a href="http://www.pfSense.org" target="blank">pfSense</a><br/>
Versionamento com git.<br/>
Gerenciamento de redes wireless, instalação e configuração de hardware para enlaces de curta e longa dncias<br/>
Gerenciamento de redes estruturadas, configuração e administração de firewalls, conhecimentos em serviços como iptables e pf (pacilter).<br/>
Conhecimento em proxy servers (squid), conhecimentos em samba e kerberos.<br/>
Automação de tarefas utilizando de shell script e Python, event script<br/>
Conhecimentos em PHP e shell script para ferramentas.<br/>
Monitoramento e testes em redes com shell script, python e ferramentas como iperf e iptraf.<br/>
Conhecimentos em protocolos como TCP/IP,ICMP,HTTP,DHCP,NTP,DNS.<br/>
Conhecimentos em traffic shapper utilizando HSFC/PRIQ/CBQ.<br/>
Virtualização utilizando de ferramentas como virtualbox, vmware, KVM e bhyv<br/>
Administração de serviços em cloud com Amazon EC2/GCloud/Digital Oc.<br/>
Conhecimento em manipulação de grande volumes de dados, com processamentos e storage em servidores SQL como MySQLServer, PostgreeSQ<br/>
Atualmente estudando o FreeBSD.<br/><br/>
				</div>
				<br/>
				<br/>
			</div>
			<h3><b>Experiencias</b></h3>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<p><b>Programador</b></p>
					<p>BluePex Security Solutions</p>
					2013 - Presente
				</div>
				<div class="col-sm-9">
					<p>Programador em ambientes unix. 
					Desenvolvimento de recursos administrativos para servidores proxy, serviços de VPN, gerenciamento de redes, gerenciamento de grande volume de dados e banco de dados.</p>
				</div>
			</div>
			<br/>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<p><b>Analista de segurança em redes</b></p>
					<p>BluePex Security Solutions</p>
					08/2012 - 06/2013
				</div>
				<div class="col-sm-9">
					Analista de suporte em segurança e redes. 
					Configuração e gerenciamento de serviços de email, anti-spam, firewall, VPNs, proxy, serviços de roteamento.
				</div>
			</div>
			<br/>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<p><b>Tecnico em redes e hardware</b></p>
					<p>PCHelp Lan House</p>
					08/2007 - 05/2010
				</div>
				<div class="col-sm-9">
					Administrador de redes, servidor linux (mikrotik), montagem e manutenção em hardware, intalação e configuração de aplicações (Linux/Windows)
				</div>
			</div>
			<br/>
			<!--<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<p><b>Torneiro Ferramenteiro CNC</b></p>
					<p>LIMEPE Ferramentaria</p>
					05/2005 - 03/2007
				</div>
				<div class="col-sm-9">
					Programador e operador de torno CNC, leitura de desenhos tecnicos, desenhista tecnico usando papel e o autocad. Operador de tornos convencionais.
				</div>
			</div>-->
		</div>
		<div class="col-sm-1">
		</div>
	</div>

{% endblock content %}
