{% extends 'blog/about_tmplt.html' %}
{% load staticfiles %}
{% block content %}

	<style>
		b {
			font-size: 20px;
		}
		span {
			font-size: 24px;
			color: white;
			text-shadow: 2px 2px 5px black;
		}
	</style>
	<br/>
	<div class="row">
		<div class="col-sm-3">
				<div class="text-center">
	        		<img style="border: 5px solid black; margin: 0px 50px;" width="180px" height="180px" class="img-circle" src="{% static 'getschwift.jpg' %}" alt="">
                    <br/><br/>
		            <a href="http://github.com/kanazux" target="_blank">
                        <i style="font-size: 150px; text-align: center; margin: 15px 50px; text-shadow: 1.2px 1.2px 10px black;" class="fa fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/silvioapsilva/" target="_blank">
                        <i style="font-size: 150px; text-align: center; margin: 15px 50px; text-shadow: 1.2px 1.2px 10px black;" class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://pypi.org/project/ipy-show/", target="_blank">
                        <i style="font-size: 150px; text-align: center; margin: 15px 50px; text-shadow: 1.2px 1.2px 10px black;" class="fa fa-cloud-download"></i>
                    </a>
                    <a href="https://twitter.com/kanazux" target="_blank">
                        <i style="font-size: 150px; text-align: center; margin: 15px 50px; text-shadow: 1.2px 1.2px 10px black;" class="fa fa-twitter"></i>
                    </a>
				</div>
                <!--<img src="https://pypi.org/static/images/logo-small.6eef541e.svg"></img>-->
		</div>
		<div class="col-sm-7">
			<div style='border-bottom:1px solid #ccc;'>
				<h2><b>Silvio A Silva a.k.a Kanazuchi</b></h2>
				<h3>Developer at BluePex Security Solutions</h3>
			</div>
			<br/>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3">
					<br/>
					<i class="fa fa-mail-forward"></i>
					<a style="font-size: 15px;">contato@kanazuchi.com</a>
					<br/>
					<br/>
					<h4><i class="fa fa-camera" style="font-size: 25px; margin: 0 5px;"></i>
						<a href="http://kanazuchi.com/photos" style="font-size: 25px;"><b>Photografy Galery</b></a><h4>
					<br/>
					<h4><b>Telegram:</b>
					<a style="color: black;" href="https://t.me/kanazuchi">
						<i style="color: white; text-shadow: 1px 1px 1px black; font-size: 25px;" class="fa fa-at">kanazuchi</i>
					</a></h4>
					<br/>
					<h4><i class="fa fa-lastfm-square" style="margin: 0 5px; font-size: 20px;"></i><b>Podcasts</b><br/>
					<i class="fa fa-soundcloud"><a href="http://pizzadedados.com/">Pizza de dados (pt_BR)</a></i>
					<i class="fa fa-soundcloud"><a href="http://castalio.info/">Castálio Podcast (pt_BR)</a></i>
					<i class="fa fa-soundcloud"><a href="http://www.loopmatinal.com/">Loop Matinal (pt_BR)</a></i>
					<i class="fa fa-soundcloud"><a href="http://freakonomics.com">Freakonomics Podcast</a></i>
					<i class="fa fa-soundcloud"><a href="https://talkpython.fm/">Talk Python to Me</a></i></h4>
				</div>
				<div class="col-sm-9">
					<h4><b>Not so much about me, but...</b></h4>
					Actually studing for Cisco CCNA.<br/>
					A father, a son, a husband and a simple gay man.<br/><br/>
					Python developer and network manager.
					In love with open source systems.<br/>
					In these days i'm working with PHP, shell script and trying put a lot of code in python where i see than will be better.<br>
					In all the thinks i do, i guess.<br/><br/>
					I really like to hear podcasts when i'm walking, so i let some of podcasts that i like. I hope than you like they.<br/>
					In the days off i like to travel and take some pictures, i'm not a professional shooter, but i try.<br/><br/>
					To study i usually like to write some code in python to aplly what i'm learning.<br/>
					So i wrote tools that help me in my work, this page is writen in python by using django and uwsgi.<br/>
					Bellow is some of my projects and what i usually like to play.<br/><br/>
				</div>
				<br/>
				<br/>
			</div>
			<br/>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3" style="text-align: center;">
					<p><span>IPY-Show</span></p>
					<a href="https://github.com/kanazux/ipy-show">
					<i class="fa fa-github-alt" style="font-size: 75px; margin: 0 25px; text-shadow: 2px 2px 5px black;"></i>
					</a>
					<a href="https://pypi.org/project/ipy-show">
						<img width="75px" height="75px" src="https://pypi.org/static/images/logo-small.6eef541e.svg"></img>
					</a>
				</div>
				<div class="col-sm-9">
					<p>Ipy-Show</p> Is a simple IP calculator.<br/>
					Ipy-show run in unix systems and return some data of an IP and mask in slash notation.<br/>
                    Class, network, broadcast, number of hosts in network and numbers of subnets usable.<br/>
                    Ipy-show can be used on the web in this link <a href="/ipyshow">IPY-Show</a>
                    IPY-Test is a web page that i wrote to some friends studing for Cisco CCNA test skills converting IPs and Mask to binary.
                    Can be access by this link <a href="/ipytest">IPY-Test</a>
					<br/><br/><br/>
				</div>
			</div>
			<div class="row" style='border-bottom:1px solid #ccc;'>
                <br/>
				<div class="col-sm-3" style="text-align: center;">
					<p><span>WMI-Query</span></p>
					<a href="https://github.com/kanazux/wmi-query">
						<i class="fa fa-github-alt" style="font-size: 75px; margin: 0 25px; text-shadow: 2px 2px 5px black;"></i>
					</a>
					<a href="https://pypi.org/project/wmi-query/">
						<img width="75px" height="75px" src="https://pypi.org/static/images/logo-small.6eef541e.svg"></img>
					</a>
				</div>
				<div class="col-sm-9">
					<p>WMI-Query</p> Is a simple tool to request data from wmi namespaces in Microsoft Windows Systems<br/>
					The query in on script wmi-query puts on the stdout the data requested in the namespace, which library have some functions to provide some control in this data.
					<br/><br/><br/><br/><br/>
				</div>
				<br/>
			</div>
			<div class="row" style='border-bottom:1px solid #ccc;'>
				<div class="col-sm-3" style="text-align: center;">
					<br/>
					<p><span>BOT-Wars</span></p>
					<a href="https://github.com/kanazux/bot-wars">
					<i class="fa fa-github-alt" style="font-size: 75px; margin: 0 25px; text-shadow: 2px 2px 5px black;"></i>
					</a>
					<a href="https://pypi.org/project/bot-wars">
						<img width="75px" height="75px" src="https://pypi.org/static/images/logo-small.6eef541e.svg"></img>
					</a>
				</div>
				<div class="col-sm-9">
					<br/>
					<p>Bot-Wars</p>Is a simple bot for telegram.<br/>
					Bot wars is a bot to get some info for the android game <a href="https://summonerswar.co/">Summoners War</a><br/>
					Uses beatifullsoup (BS4), requests and the requests-html lib to get some data from web pages with info of the mobs useble in the game.<br/>
					It born to get some skills for web scrapping.
					<br/><br/><br/><br/><br/>
				</div>
			</div>
			</div>
		</div>
	</div>

{% endblock content %}
