{% extends 'blog/about_tmplt.html' %}
{% load staticfiles %}
{% block content %}
<div class='content-block' style='width: auto; height: 70%; text-align: left 100px; margin-left: 100px;'>
{% for i, v in d.items %}
<b>{{i}}: </b>{{v}}
<br/>
{% endfor %}
    <div class="page-header">
        <h1>New post</h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
</div>
{% endblock content %}
